table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
caption {
    caption-side: bottom;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

p{
    color:purple;
    word-spacing: 5%;
}
p:first-of-type{
    font-weight: bold;
}

body{
    max-width: 90%;
    margin-left: 5%;    
    background: -webkit-radial-gradient(rgb(213, 217, 72), rgb(56, 77, 98));
    background: radial-gradient(rgb(213, 217, 72), rgb(56, 77, 98));
    background-image:url("backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

q{
    max-width: 50%;
    display: inline-block;
    font-size: 160%;
    background-color: lightgray;
    border-style: dashed;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-width: 3px;
    padding-left: 30px;
    margin:  80px 0 80px 0;
    font-style: italic;
}

header h1{
    background-color: yellow;
}

figure{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

blockquote{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a{
    font-weight: bold;
}
a:hover{
    background-color: gold;
}
a:visited{
    background-color: crimson;
}

.modifImg{
    display: inline-block;
    float: left;
}

.farmer{
    font-style: italic;
    border-color: darkgreen;
}

.villager{
    font-style: italic;
    border-color: darkred;
}

.good{
    color:green;
    text-transform: uppercase;
}

.bad{
    color:red;
    text-transform: uppercase;
}

.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    /* rajoute le code nécessaire ici*/
    position:fixed;
    top: 87%;
    left: 82%;
  }